{% extends '_base.html' %}

{% block container %}
<div class="container-sm">
    <h1>Cadastrar Serviços</h1>
    <form action="/servicos" enctype="multipart/form-data" method="post" autocomplete="off">
        <div class="mb-3">
            <input type="text" class="form-control" name="servico" id="servico_id" placeholder="Informe o Serviço Aqui" required autofocus>
        </div>
        <div class="mb-3">
            <input type="file" class="form-control" name="arquivo" id="file_id" required>
        </div>
        <div class="mb-3">
            <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>
    </form>
    <div class="m-3 text-center">
        <p>{{ nome }}</p>
        <p>{{ tipo }}</p>
        <h3>
            {{ mensagem }}
        </h3>
        {% if imagem %}
        <div class="m-auto">
            <img src="{{ url_for('media', path=imagem) }}" alt="{{ nome }}">
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}